<div class="container mt-3" style="height: 80vh;">
    <div class="h1 d-flex justify-content-center">Profile</div>
    <div class="w-50 mx-auto">
        <div class="card">
            <div class="card-body text-center">
              <div class="d-flex align-items-center justify-content-center">
                <i class="bi bi-person-circle"></i>
                <h5 class="ms-1 my-2">{{username | titlecase}}</h5>
              </div>
              <i class="bi bi-envelope-check"></i>
              <p style="display: inline-block;" 
                class="text-muted mb-1 ms-2">{{email}}</p>
              <div class="d-flex justify-content-center my-2">
                <button type="button" 
                  class="btn btn-primary rounded-0 py-1 px-3" 
                  data-bs-toggle="modal" 
                  data-bs-target="#exampleModal">Edit Profile</button>
              </div>
            </div>
        </div>
        <!-- modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content p-3">
              <div class="d-flex justify-content-between">
                <h3 class="mb-3">Edit Profile</h3>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form #profileFrm="ngForm" (ngSubmit)="updateProfile(profileFrm.value)">
                <div class="mb-3">
                  <label for="username" class="form-label fw-bold">Username</label>
                  <input 
                    disabled
                    type="text" 
                    class="form-control rounded-0" 
                    id="username" 
                    aria-describedby="username"
                    name="username"
                    ngModel
                    [ngClass]="{'is-invalid': isInvalid}"
                    placeholder="Ex: Amit Singh">
                    <p class="my-1 text-danger" *ngIf="isInvalid">Username is required</p>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label fw-bold">Email</label>
                  <input 
                    type="email" 
                    class="form-control rounded-0" 
                    id="email"
                    name="email"
                    ngModel
                    [ngClass]="{'is-invalid': isInvalid}"
                    placeholder="Ex: example@mail.com">
                    <p class="my-1 text-danger" *ngIf="isInvalid">Email is required</p>
                </div>
                <button data-bs-dismiss="modal" aria-label="Close" type="submit" class="btn btn-primary rounded-0 py-1 px-3">Edit</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>